body {
    background-color: linen;
    font-weight: 800;
    font-family: 'Sriracha', cursive;
}

h1 {
    color: wheat;
    font-size: 70px;
}

.container {
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(93, 145, 189);
}

.first-row {
    padding: 30px;
    background-color: wheat;
    border-radius: 15px;
    width: 600px;
    font-weight: 800;
}

.choice-container {
    margin-left: 2rem;
}

.third-row {
    padding: 30px;
    display: flex;
    background-color: wheat;
    justify-content: space-between;
    border-radius: 15px;
    width: 600px;
    font-weight: 600;
}

.age-container {
    margin-left: 2rem;
}

span {
    color: navy;
}

.container-home {
    padding-top: 0;
}

.mood-row {
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    margin: 0 auto;
}

.mood-btn {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.x {
    background-image: url("../images/book.jpg");
    width: 100%;
    min-height: 400px;
}

#buy-button {
    display: block;
    padding: 10px 50px;
    color: black;
    text-decoration: none;
}

#buy-button-container {
    border: 1px solid black;
    border-radius: 5px;
}

#book-rating {
    margin: 30px 0px;
}


/* ************* result div *************** */

.book-input {
    background-color: seashell !important;
}

#recordedBook {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bookDiv {
    background-color: snow;
    padding: 20px;
    margin: 10px;
    max-width: 350px;
    border-radius: 20px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

img {
    width: 300;
    height: auto;
}

#recordedBookDetails {
    display: none;
}

.flex {
    display: flex;
}

.flex-vertical-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.w-10 {
    width: 10%;
}

.w-70 {
    width: 70%;
}

.size-40 {
    font-size: 40px !important;
}